LR_04/PWS_4/PWS_4_WebForms/server/wsdl.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://VSA/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://VSA/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex ASMX Service</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://VSA/">
			<s:element name="ASMX.ADD">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="x" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="y" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.ADDResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="ASMX.ADDResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.CONCAT">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
						<s:element minOccurs="1" maxOccurs="1" name="d" type="s:double"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.CONCATResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ASMX.CONCATResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.SUM">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A"/>
						<s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="A">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
					<s:element minOccurs="1" maxOccurs="1" name="k" type="s:int"/>
					<s:element minOccurs="1" maxOccurs="1" name="f" type="s:float"/>
				</s:sequence>
			</s:complexType>
			<s:element name="ASMX.SUMResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ASMX.SUMResult" type="tns:A"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.ADDS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="x" type="s:int"/>
						<s:element minOccurs="1" maxOccurs="1" name="y" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ASMX.ADDSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="ASMX.ADDSResult" type="s:int"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ASMX.ADDSoapIn">
		<wsdl:part name="parameters" element="tns:ASMX.ADD"/>
	</wsdl:message>
	<wsdl:message name="ASMX.ADDSoapOut">
		<wsdl:part name="parameters" element="tns:ASMX.ADDResponse"/>
	</wsdl:message>
	<wsdl:message name="ASMX.CONCATSoapIn">
		<wsdl:part name="parameters" element="tns:ASMX.CONCAT"/>
	</wsdl:message>
	<wsdl:message name="ASMX.CONCATSoapOut">
		<wsdl:part name="parameters" element="tns:ASMX.CONCATResponse"/>
	</wsdl:message>
	<wsdl:message name="ASMX.SUMSoapIn">
		<wsdl:part name="parameters" element="tns:ASMX.SUM"/>
	</wsdl:message>
	<wsdl:message name="ASMX.SUMSoapOut">
		<wsdl:part name="parameters" element="tns:ASMX.SUMResponse"/>
	</wsdl:message>
	<wsdl:message name="ASMX.ADDSSoapIn">
		<wsdl:part name="parameters" element="tns:ASMX.ADDS"/>
	</wsdl:message>
	<wsdl:message name="ASMX.ADDSSoapOut">
		<wsdl:part name="parameters" element="tns:ASMX.ADDSResponse"/>
	</wsdl:message>
	<wsdl:portType name="SimplexSoap">
		<wsdl:operation name="Add">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 numbers</wsdl:documentation>
			<wsdl:input name="ASMX.ADD" message="tns:ASMX.ADDSoapIn"/>
			<wsdl:output name="ASMX.ADD" message="tns:ASMX.ADDSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Concat">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Concat of string and double</wsdl:documentation>
			<wsdl:input name="ASMX.CONCAT" message="tns:ASMX.CONCATSoapIn"/>
			<wsdl:output name="ASMX.CONCAT" message="tns:ASMX.CONCATSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Sum">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of fileds of two [A] objects. Return [A] object</wsdl:documentation>
			<wsdl:input name="ASMX.SUM" message="tns:ASMX.SUMSoapIn"/>
			<wsdl:output name="ASMX.SUM" message="tns:ASMX.SUMSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="Adds">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum of 2 int. Response JSON</wsdl:documentation>
			<wsdl:input name="ASMX.ADDS" message="tns:ASMX.ADDSSoapIn"/>
			<wsdl:output name="ASMX.ADDS" message="tns:ASMX.ADDSSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Add">
			<soap:operation soapAction="http://VSA/ASMX.ADD" style="document"/>
			<wsdl:input name="ASMX.ADD">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.ADD">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Concat">
			<soap:operation soapAction="http://VSA/ASMX.CONCAT" style="document"/>
			<wsdl:input name="ASMX.CONCAT">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.CONCAT">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Sum">
			<soap:operation soapAction="http://VSA/ASMX.SUM" style="document"/>
			<wsdl:input name="ASMX.SUM">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.SUM">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Adds">
			<soap:operation soapAction="http://VSA/ASMX.ADDS" style="document"/>
			<wsdl:input name="ASMX.ADDS">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.ADDS">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Add">
			<soap12:operation soapAction="http://VSA/ASMX.ADD" style="document"/>
			<wsdl:input name="ASMX.ADD">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.ADD">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Concat">
			<soap12:operation soapAction="http://VSA/ASMX.CONCAT" style="document"/>
			<wsdl:input name="ASMX.CONCAT">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.CONCAT">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Sum">
			<soap12:operation soapAction="http://VSA/ASMX.SUM" style="document"/>
			<wsdl:input name="ASMX.SUM">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.SUM">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Adds">
			<soap12:operation soapAction="http://VSA/ASMX.ADDS" style="document"/>
			<wsdl:input name="ASMX.ADDS">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ASMX.ADDS">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Simplex">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Simplex ASMX Service</wsdl:documentation>
		<wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
			<soap:address location="http://localhost:57144/Simplex.asmx"/>
		</wsdl:port>
		<wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
			<soap12:address location="http://localhost:57144/Simplex.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>